{% extends 'base.html.twig' %}

{% block title %}Ajout projet
{% endblock %}

{% block body %}

	{% block header %}
		<a href="calendrier_apres"><img src="/img/logo_sully.svg" alt="Logo Sully"></a>
	{% endblock %}

	{{ form_start(form, {'attr':{'class':'form'}}) }}

	<div>
		{{ form_label(form.chefs_Projets)}}
		{{ form_widget(form.chefs_Projets, {'attr':{'class':'input2'}})}}
	</div>

	<div>
		{{ form_label(form.titre) }}
		{{ form_widget(form.titre, {'attr':{'class':'input'}}) }}
	</div>

	<div>
		{{ form_label(form.description) }}
		{{ form_widget(form.description, {'attr':{'class':'input'}}) }}
	</div>

	<div class="form-group">
		<div class="form-row">
			{{ form_label(form.competences) }}
			{{ form_widget(form.competences, {'attr':{'class':'input3'}}) }}
		</div>

		<div>
			{{ form_label(form.date_demarrage) }}
			{{ form_widget(form.date_demarrage, {'attr':{'class':'input1'}}) }}
		</div>
	</div>

	{# <div>
		{{ form_label(form.collaborateurs) }}
		{{ form_widget(form.collaborateurs, {'attr':{'class':'input2'}}) }}
	</div> #}

	<div>
		{{ form_label(form.reste_a_faire) }}
		{{ form_widget(form.reste_a_faire, {'attr':{'class':'input'}}) }}
	</div>

	<div>
		{{ form_label(form.charge_vendu) }}
		{{ form_widget(form.charge_vendu, {'attr':{'class':'input'}}) }}
	</div>

	<div class="form-group">
		{{ form_widget(form.valider, {'attr':{'class':'valider'}}) }}
	</div>

	{{ form_rest(form) }}
	{{ form_end(form) }}

	{% block footer %}
		<div class="footer"></div>
	{% endblock %}

	{% block javascripts %}
	
		<script>

			// var $competence = $('#projet_competences');

			// $competence.change(function () {
			// 	var $form = $(this).closest('form');
			// 	var data = {};
			// 		data[$competence.attr('id')] = $competence.val();
			// 		console.log(data);
			// 	$.ajax({
			// 		url: $form.attr('action'),
			// 		type: $form.attr('method'),
			// 		data: data,
			// 		complete: function (html) {
			// 			$('#projet_collaborateurs').replaceWith(
			// 				$(html.responseText).find('#projet_collaborateurs')
			// 			);
			// 		}
			// 	});
			// });

		</script>

	{% endblock %}
	<link rel="stylesheet" href="{{ asset('css/ajout_projet.css') }}">
{% endblock %}
